<div class="author-comment">
  <img class="profile-pic" src="{{this.author_id.profilePic}}" alt="author_pic">
  <p>Commentaire de: </br>
    <span class="label">{{this.author_id.firstName}}</span></p>
</div>
<div class="review-info">
  <p>Commentaire: <span class="label">{{this.text}}</span></p>
  <p>Note: <span class="label">{{this.rate}}</span></p>
  <p>Montant du panier:<span class="label"> {{this.averageCart}}€</span></p>
</div>