<main class="content">
        <div class="form edit-host">
                <h1>MODIFIER VOTRE COMPTE</h1>
                {{#if validationMessage}}
                <p class="validation-message">{{validationMessage}}</p>
                {{/if}}
                {{#if errorMessage}}
                <p class="error-message">{{errorMessage}}</p>
                {{/if}}
                <form action="/edit/{{user.id}}" method="POST">
                        <div id="user-form">
                                <label class="field">Prénom *<input type='text' name="firstName"
                                                value="{{user.firstName}}" required></label>
                                <label class="field">Nom *<input type='text' name="lastName"
                                                value="{{user.lastName}}" required></label>
                                <label class="field">Nom d'utilisateur *<input type='text' name="userName"
                                                value="{{user.userName}}" required></label>
                                <label class="field">Email *<input type='email' name="email" value="{{user.email}}"
                                                required></label>
                                <label class="field">Mot de passe *<input type='password' name="password"
                                                placeholder="**********" value="{{user.password}}" required></label>
                                <label class="field">Photo de profil<input type="file" name="profilePic" class="upload"
                                                required /></label>
                        </div>
                        <div id='host-form'>
                                <label class="field">Nom de l'exploitation*<input type='text' name="farmName"
                                                value="{{host.farmName}}" required></label>
                                <label class="field">Description *<textarea name="description"
                                                value="{{host.description}}" required></textarea></label>
                                <label class="field">Nom de sir-te<input type='text' name="website" value="{{host.website}}"
                                                required></label>
                                <label class="field">Addresse *<textarea name="address" value="{{host.website}}"
                                                required></textarea></label>
                                <label class="field">Code postal *<input type='text' name="zipCode" value="{{host.zipCode}}"
                                                required></label>
                                <fieldset>
                                        <legend>Ville * </legend>
                                        {{#each allCities}}
                                        <div class="checkbox"><input type="checkbox" name="city" value="{{this}}"
                                                        id="{{this}}"
                                                        {{#inArray ../farmCity this}}checked{{/inArray}}><label
                                                        for="{{this}}">{{this}}</label></div>
                                        {{/each}}
                                </fieldset>
                                <fieldset>
                                        <legend>Nature de l'exploitation *</legend>
                                        {{#each allFarms}}
                                        <div class="checkbox"><input type="checkbox" name="farmType" value="{{this}}"
                                                        id="{{this}}"
                                                        {{#inArray ../farmTypes this}}checked{{/inArray}}><label
                                                        for="{{this}}">{{this}}</label></div>
                                        {{/each}}
                                </fieldset>
                                <fieldset>
                                        <legend>Activités disponible sur l'exploitation * </legend>
                                        {{#each allActivities}}
                                        <div class="checkbox"><input type="checkbox" name="activitiesType"
                                                        value="{{this}}" id="{{this}}"
                                                        {{#inArray ../farmActivities this}}checked{{/inArray}}><label
                                                        for="{{this}}">{{this}}</label></div>
                                        {{/each}}
                                </fieldset>
                                <fieldset>
                                        <legend>Certifications et labels</legend>
                                        {{#each allCertifications}}
                                        <div class="checkbox"><input type="checkbox" name="certifications"
                                                        value="{{this}}" id="{{this}}"
                                                        {{#inArray ../farmCertifications this}}checked{{/inArray}}><label
                                                        for="{{this}}">{{this}}</label></div>
                                        {{/each}}
                                </fieldset>
                                <fieldset>
                                        <legend>Adapté à un public</legend>
                                        {{#each allPublics}}
                                        <div class="checkbox"><input type="checkbox" name="public" value="{{this}}"
                                                        id="{{this}}"
                                                        {{#inArray ../farmPublics this}}checked{{/inArray}}><label
                                                        for="{{this}}">{{this}}</label></div>
                                        {{/each}}
                                </fieldset>
                                <fieldset>
                                        <legend>Jours d'ouverture *</legend>
                                        {{#each allDays}}
                                        <div class="checkbox"><input type="checkbox" name="openingDays" value="{{this}}"
                                                        id="{{this}}"
                                                        {{#inArray ../farmDays this}}checked{{/inArray}}><label
                                                        for="{{this}}">{{this}}</label></div>
                                        {{/each}}
                                </fieldset>
                                <label class="field">Horaires d'ouverture *
                                        <div id="opening-hours"><input type='time' name="openingHoursStart"
                                                        value="{{host.openingHoursStart}}">
                                                <input type='time' name="openingHoursEnd"
                                                        value="{{host.openingHoursEnd}}">
                                        </div></label>
                                <fieldset>
                                        <legend>Langues parlées *</legend>
                                        {{#each allLanguages}}
                                        <div class="checkbox"><input type="checkbox" name="spokenLanguages"
                                                        value="{{this}}" id="{{this}}"
                                                        {{#inArray ../farmLanguages this}}checked{{/inArray}}><label
                                                        for="{{this}}">{{this}}</label></div>
                                        {{/each}}
                                </fieldset>

                                {{!-- <label class="field">Farm photo *
                                {{#each host.photos}}<input type="file" name="photos" class="upload"
                                        value="{{this}}" />{{/each}}</label>
                                        <input type="file" name="photos" class="upload"
                                        value="{{this}}" /> --}}
                                {{!-- TODO Gérer la possibilité d'ajouter plusieurs photos sur la fiche host
      
      <input type="file" name="photo-2" />
      <input type="file" name="photo-3" /> --}}
                                </label>
                                <label class="field">Nombre de visiteurs maximum *<input type='text' name="maximumVisitors"
                                                value="{{host.maximumVisitors}}" required></label>

                        </div>
                        <button class="btn primary">Mettre à jour</button>
                        <p class="mandatory">* CHAMPS REQUIS</p>
                </form>
        </div>
</main>