<main class="content">
  <div id="host-detail-container">
    <a href="/hosts?location=&day=&visitor=&certification=&activityType=&farmType=&public=&language="
      class="btn secondary">Retour à la liste</a>
    <div id="host-block-top">
      <section id="slider"><img src="{{host.photos}}"></section>
      {{!-- A FAIRE LES REVIEWS : --}}
      <aside>
        <p class="capitalize"><span class="label">VILLE :</span> {{host.city}} - {{host.country}}</p>
        <h1>{{host.farmName}}</h1>
        <p id="address"><span class="label">ADDRESSE :</span>
        <p>{{host.address}}
          {{host.zipCode}} - {{host.city}}</p>
        </p>
        {{!-- A FAIRE LE AVERAGE CART :--}}
        <a href="mailto:{{user.email}}" class="btn primary">Contacter votre Product'hôte</a>
      </aside>
    </div>
    <div id="host-block-info">
      <div id="host-main-info">
        <div id="host-orange-block">
          <div id="info">
            <p class="capitalize"><span class="label">Nature de l'exploitation : </span>{{host.farmType}}</p>
            <p class="capitalize"><span class="label">Certifications et labels : </span>{{host.certifications}}</p>
            <p class="capitalize"><span class="label">Activités disponible sur l'exploitation:</span> {{host.activitiesType}}</p>
            <p class="capitalize"><span class="label">Adapté à un public : </span>{{host.public}}</p>
          </div>
          <div id="opening">
            <p><span class="label">Jours d'ouverture :</span> </p>
            <ul class="capitalize">{{#each host.openingDays}}<li>{{this}}</li> {{/each}}</ul>

            <p><span class="label">Horaires d'ouverture :</span> {{host.openingHours}}</p>
          </div>
        </div>
        <aside>
          <img class="profile-pic" src="{{user.profilePic}}">
          <p><span class="label">Product'hôte : </span>{{user.firstName}} {{user.lastName}}</p>
        </aside>
      </div>
      <p id="description">{{host.description}}</p>
    </div>
    <div id="new-reviews">
      <span class="label">Laisser un avis {{host.farmName}} !</span>
      <span class="label">Nom du Visiteur : {{currentUser.firstName}}</span>
      <form class="form" id="review-creation" action="/hosts/{{user.id}}" method="POST" id="create-comment-form">
        <label for="rate" class="field">Note *<p class="review-field"><input name="rate" type="number" required>/ 5</p>
        </label>
        <label for="text" class="field">Commentaire :
          <textarea name="text" id="" cols="30" rows="3" placeholder="Type your review over here !">
      </textarea></label>
        <label for="averageCart" class="field">Montant du panier
          <p class="review-field"> <input type="text" name="averageCart">€</p>
        </label>
        <button class="btn primary">Publier</button>
      </form>
    </div>
    <div id='reviews'>
      {{#each comments}}
      <li>
        {{> partialComment this}}
      </li>
      {{/each}}
    </div>
  </div>
</main>